<%-include('include/_header')%>
<mian id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fa-solid fa-caret-left"></i>All Users</a>
            </div>
            </div>
            <div class="text-center form-title">
                <h2 class="text-dark">New users</h2>
                <span class="text-light">Fill the form below to add users</span>
            </div>

            <!--form action-->
                
            <%-include('include/_form')%>
            <!--form action-->
    </div>
</mian>

<%-include('include/_footer')%>